body {
    padding-top: 56px; /* Adjusted for the fixed navbar height */
    margin: 20px; /* Added margin to the body */
}
.course-card {
    margin-bottom: 20px;
    padding: 20px;
    max-width: 400px; /* Added max-width to the cards */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.coming-soon {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: #0000ba;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}