/* Reset some default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 56px; /* Adjusted for fixed navbar */
}

.course-card {
    margin-bottom: 20px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
}
.navbar navbar-expand-lg navbar-dark bg-dark fixed-top{
    color: royalblue !important;
}
 body {
     padding-top: 56px; /* Adjusted for the fixed navbar height */
     margin: 20px; /* Added margin to the body */
 }
.course-card {
    margin-bottom: 20px;
    padding: 20px;
    max-width: 400px; /* Added max-width to the cards */
}
